.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  background-color: #f5f5f5;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    span {
      font-size: 18px;
      font-weight: bold;
    }
  }

  li {
    text-decoration: none;
  }

  .nav-link {
    color: black;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: #f63d3d;
      transition: 0.2s;
    }
  }

  .botao {
    margin-left: 10px;
    color: #f63d3d;
    border-color: #f63d3d;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: white;
      background-color: #f63d3d;
    }
  }

  .login-icon-container {
    .login-icon {
      font-size: 1.5rem;
      color: #f63d3d;
      cursor: pointer;
      position: relative;
      transition: 0.3s;

      &:hover {
        color: #ff8787;
      }
    }
    .login-icon {
      font-size: 1.5rem;
      color: #f63d3d;
      transition: 0.3s;

      &:hover {
        color: #ff8787;
      }
    }

    .user-name {
      font-size: 1rem;
      color: #333;
      margin: 0px 4px;
    }
  }
}

.categorias-container {
  border-top: 2px solid #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 10px 0;

  .container-xl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .nav {
    display: flex;
    width: 100%;

    .nav-item {
      position: relative;

      .nav-link {
        display: flex;
        align-items: center;
        color: black;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          color: #f63d3d;
          transition: 0.2s;
        }
      }

      .dropdown-menu {
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(10px);

        .dropdown-item {
          padding: 10px 15px;
          color: #333;
          display: block;
          transition: background-color 0.3s ease;
        }
      }

      &:hover .dropdown-menu {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
