.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #f5f5f5;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  .logo {
    display: flex;
    align-items: center;
    span {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    a {
      color: black;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: #f63d3d;
        text-decoration: underline;
      }
    }

    .botao {
      margin-left: 10px;
      color: #f63d3d;
      border-color: #f63d3d;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: white;
        background-color: #f63d3d;
      }
    }
  }
}
