.container-pagamento {
  .card {
    border: none;
  }

  .form-control {
    border-bottom: 2px solid #eee !important;
    border: none;
    font-weight: 600;
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid blue !important;
  }

  .inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }

  .inputbox span {
    position: absolute;
    top: 7px;
    left: 11px;
    transition: 0.5s;
  }

  .inputbox i {
    position: absolute;
    top: 13px;
    right: 8px;
    transition: 0.5s;
    color: #3f51b5;
  }

  .inputbox input:focus ~ span,
  .inputbox input:valid ~ span {
    transform: translateX(0) translateY(-15px);
    font-size: 12px;
  }

  .hightlight {
    background-color: #f17d75;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 14px;
  }

  .yellow {
    color: #fdcc49;
  }

  .decoration {
    text-decoration: none;
    font-size: 1rem;
  }

  .btn-success {
    color: #e95950;
    background-color: transparent;
    border-color: #e95950;
  }

  .btn-success:hover {
    color: #fff;
    background-color: #e95950;
    border-color: #e95950;
  }

  .decoration:hover {
    text-decoration: none;
    color: #fdcc49;
  }

  button {
    font-weight: 500;
    background-color: #0bc543;
    color: #f5f5f5;
    width: fit-content;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
  }

  button:hover {
    background-color: #22b14c;
  }

  .order-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: 0.25s;
    cursor: pointer;
  }

  .order-item p {
    margin: 0.5rem 0;
  }

  .order-item:hover {
    border-color: rgb(17, 163, 17);
  }

  @media (max-width: 768px) {
    .container-orders {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 480px) {
    .container-orders {
      grid-template-columns: 1fr;
    }
  }
}
