.card-register {
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    border-radius: 25px;

    .card-body {
      overflow: hidden;
    }

    @media (max-width: 1000px) {
      margin: 0 auto;
      width: 80%;
    }
  }
}
