.faq-form-section {
  .faq-form-container {
    max-width: 800px;
    margin: 10px auto 100px auto;
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
      span {
        color: #f63d3d;
      }
    }

    .faq-form-group {
      margin-bottom: 20px;

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      textarea {
        resize: vertical; // Permite redimensionar verticalmente
      }
    }

    .faq-submit-button {
      background-color: #f63d3d;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: 0.3s;

      &:hover {
        background-color: #ff6767;
      }
    }
  }
}
